<template lang="pug">
  .home
    div(v-if="loading") Loading ...
    div(v-else)
      b-toast(id="form-error-toast", title="Error", static=true, no-auto-hide=true) {{ errorText }}
      b-form
        b-form-group(id="input-group-id", label="ID:", label-align="left")
          span {{ form.id }}
        b-form-group(id="input-group-name", label="Name:", label-for="input-name", label-align="left")
          b-form-input(id="input-name", v-model="form.name", required=true, placeholder="Enter Name")
        b-form-group(id="input-group-clan", label="Clan:", label-for="input-clan", label-align="left")
          b-form-input(id="input-clan", v-model="form.clan", required=true, placeholder="Enter Clan")
        b-form-group(id="input-group-killed", label="Killed:", label-for="input-killed", label-align="left")
          b-form-input(id="input-killed", v-model="form.killed", type="number", required=false)
        b-form-group(id="input-group-buttons")
          b-button.mr-1(type="button", variant="primary", @click="onSubmitClicked") Save
          b-button.mr-1(type="button", variant="success", @click="onResetClicked") New
          b-button(type="reset", @click="onResetClicked") Reset
      b-table(
        striped=true,
        hover=true,
        :fields="fields",
        :items="items",
        @row-clicked="onRowClicked"
      )
</template>

<script>
import { BButton, BForm, BFormGroup, BFormInput, BTable, BToast } from 'bootstrap-vue';
import { CreatePlayerRequest, GetPlayersRequest, UpdatePlayerRequest } from '@/requests/players';

export default {
  name: 'Home',
  components: {
    BButton,
    BForm,
    BFormGroup,
    BFormInput,
    BTable,
    BToast
  },
  data () {
    return {
      loading: false,
      errorText: '',
      form: {
        id: '',
        name: '',
        clan: '',
        killed: 0
      },
      fields: [
        {
          key: 'id',
          sortable: true
        },
        {
          key: 'name',
          sortable: true
        },
        {
          key: 'clan',
          sortable: true
        },
        {
          key: 'killed',
          sortable: true
        },
        {
          key: 'last_login_at',
          label: 'Last Login',
          sortable: true,
          formatter: (value, key, item) => {
            return new Date(value).toLocaleDateString();
          }
        },
        {
          key: 'created_at',
          label: 'Created At',
          sortable: true,
          formatter: (value, key, item) => {
            return new Date(value).toLocaleDateString();
          }
        }
      ],
      items: [],
      filterOn: []
    };
  },
  created () {
    this.loadData();
  },
  methods: {
    loadData () {
      this.loading = true;

      this.$api.call(new GetPlayersRequest())
        .then((data) => {
          this.items = data;
        }).finally(() => {
          this.loading = false;
        });
    },
    onRowClicked (item, index, e) {
      this.form.id = item.id;
      this.form.name = item.name;
      this.form.clan = item.clan;
      this.form.killed = item.killed;
    },
    onSubmitClicked () {
      let request = (this.form.id)
        ? new UpdatePlayerRequest({ id: this.form.id, data: this.form })
        : new CreatePlayerRequest({ data: this.form });

      this.$api.call(request)
        .then(data => {
          this.loadData();
        })
        .catch((e) => {
          if (request.status === 400) {
            this.errorText = request.data;
            this.$bvToast.show('form-error-toast');
          }
        });
    },
    onResetClicked () {
      this.form.id = '';
      this.form.name = '';
      this.form.clan = '';
      this.form.killed = '';
    }
  }
};
</script>
