
<script>
import AppHeader from '@/components/AppHeader';

export default {
  name: 'app',
  components: {
    AppHeader
  },
  data () {
    return {
      cachedComponents: ['Home']
    };
  }
};
</script>

<template lang="pug">

#app
  app-header
  .content
    .container
      keep-alive(:include="cachedComponents")
        router-view(v-if="$route.matched.length")
        loader(v-else, :loading="true")

</template>

<style lang="sass">

  #app
    font-family: 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    color: #2c3e50
    margin-top: 60px

</style>
